html,
body {
  height: 100%;
  text-align: center;
  background-color: black;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

img {
  object-fit: contain;
  max-width: 100%;
}

.primary-image {
  height: 300px;
}

.images {
  height: 200px;
  width: 300px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}
.btn-silver {
  background-color: silver;
  &:hover {
    background-color: silver;
    opacity: 0.8;
  }
}

.f-box {
  width: 100px;
  height: 20px;
}
